* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1.111vw;
}

body {
  position: relative;
}

.container {
  padding: 0em 12.8125em;
  margin: 0 auto;
  max-width: 1600px;
}

header~* {
  margin-top: 9em;
}

.notFound {
  margin: auto;
  width: 100%;
  height: auto;
}

.submenu {
  box-shadow: 0px 10px 50px -8px rgba(0, 114, 249, 0.15);
  padding: 1em;
  position: absolute;
  background-color: white;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

header li a {
  transition: color .3s;
}

header li a:hover {
  color: red;
}

.hasChild:hover .submenu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

header>ul>.children {
  display: none;
}

@media (max-width:992px) {
  html {
    font-size: 1.3vw;
  }
}

@media (max-width:650px) {
  html {
    font-size: 3.4vw;
  }

  .container {
    padding: 0em 2em;
    width: 100%;
  }
}

.gallery img,

.gallery .wp-caption {

  max-width: 100% !important;

}

.gallery .wp-caption img {

  width: 100% !important;

}

.gallery .wp-caption-text {

  font-size: .875em !important;

  line-height: 1.4 !important;

  padding: .5714em 0 0 !important;

}

.gallery .wp-caption img,

.gallery img.alignleft,

.gallery img.alignright,

.gallery img.aligncenter,

.gallery img.alignnone {

  display: block !important;

}



@media(min-width: 651px) {

  .gallery .wp-caption,

  .gallery img.alignleft,

  .gallery img.alignright,

  .gallery img.aligncenter,

  .gallery img.alignnone {

    margin-bottom: 1.875em !important;

  }

  .gallery .alignleft,

  .gallery .alignright {

    width: calc(50% - 1.875em) !important !important;

  }

  .gallery .alignleft {

    float: left !important;

    margin-right: 1.875em !important;

  }

  .gallery .alignright {

    float: right !important;

    margin-left: 1.875em !important;

  }

  .gallery .aligncenter {

    margin-left: auto !important;

    margin-right: auto !important;

  }

  .gallery .alignnone {

    width: 100% !important;

  }

}



@media(max-width: 650px) {

  .gallery .wp-caption,

  .gallery img.alignleft,

  .gallery img.alignright,

  .gallery img.aligncenter,

  .gallery img.alignnone {

    margin-bottom: 1.25em !important;

  }

}